<!DOCTYPE html>
<html>

<head>
    <title>Reports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <style>
        body {
            font-family: 'Open Sans';
            font-style: normal !important;
            font-variant: normal !important;
        }
        body {
            font-size: 12px!important;
        }

        .line {
            border: 1px solid #aaa;
            margin: 10px 0px;
        }

        .clearfix::after {
            content: '';
            clear: both;
            display: table;

        }

        .table {
            border: 2px solid #aaa;
            width: 60%;
            border-radius: 10px;

        }

        .line1 {
            border-bottom: 2px solid #aaa;
        }
    </style>
</head>

<body>
    <div style="display:table;width: 100%;height: auto;padding: 5px 0px;position: relative;">
        <div style="width: 60%;float: left;">
            <svg xmlns="http://www.w3.org/2000/svg" width="115" height="34.035" viewBox="0 0 115 34.035">
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <g>
                            <g>
                                <g>
                                    <path
                                        d="M17.869,15.653h-5.2l-2.217-3.326H4.471l-.583,3.326H0L1.127,9.227H12.064a3.807,3.807,0,0,0,.929-.113,2.689,2.689,0,0,0,.77-.32,1.642,1.642,0,0,0,.526-.516,1.252,1.252,0,0,0,.2-.687,1.02,1.02,0,0,0-.508-.93,2.7,2.7,0,0,0-1.409-.309H1.633l3.12-3.27h8.079a12.156,12.156,0,0,1,2,.17,6.073,6.073,0,0,1,1.86.61,3.865,3.865,0,0,1,1.362,1.175A3.11,3.11,0,0,1,18.582,6.9a4.54,4.54,0,0,1-.29,1.617,4.626,4.626,0,0,1-.826,1.39,4.924,4.924,0,0,1-1.288,1.052,5.206,5.206,0,0,1-1.655.6,8.217,8.217,0,0,1,.594.621c.218.25.5.594.854,1.033Z"
                                        style="fill: #00a44f" />
                                    <path
                                        d="M24.578,15.653l2.932-3.232h4.321c.4,0,.752.013,1.053.037q-.209-.338-.47-.855c-.177-.345-.339-.667-.489-.967L30.253,7.309l-7.366,8.344h-4.6L28.355,4.285a5.556,5.556,0,0,1,1.164-.978,2.915,2.915,0,0,1,1.6-.431,2.218,2.218,0,0,1,1.4.4,3.144,3.144,0,0,1,.837,1.006L39.2,15.653Z"
                                        style="fill: #00a44f" />
                                    <path
                                        d="M56.352,3.082,47.388,11.5l-.715,4.153H42.765l.733-4.171-6.182-8.4h5l2.4,3.5c.075.112.179.261.31.441s.267.374.4.573.263.389.376.564.192.307.244.4q.262-.263.685-.714t1.249-1.278l3.478-3.476Z"
                                        style="fill: #00a44f" />
                                    <path
                                        d="M70.333,12.421l-3.064,3.232H60.955a8.1,8.1,0,0,1-2.678-.423,6.278,6.278,0,0,1-2.066-1.165,5.151,5.151,0,0,1-1.794-3.955,5.918,5.918,0,0,1,.694-2.838A7.04,7.04,0,0,1,56.99,5.045,8.9,8.9,0,0,1,59.772,3.6a10.982,10.982,0,0,1,3.4-.517h8.812L68.9,6.352H62.591a5.117,5.117,0,0,0-1.645.262,4.405,4.405,0,0,0-1.362.733,3.581,3.581,0,0,0-.92,1.1,2.872,2.872,0,0,0-.34,1.382,2.346,2.346,0,0,0,.893,1.879,3.131,3.131,0,0,0,1.006.526,4.212,4.212,0,0,0,1.3.188Z"
                                        style="fill: #00a44f" />
                                    <path
                                        d="M103.778,15.86a2.06,2.06,0,0,1-.722-.123,1.986,1.986,0,0,1-.723-.554L95.85,8.268l-1.3,7.385H91.02L92.844,5.224A3.6,3.6,0,0,1,93.2,4.153a2.391,2.391,0,0,1,.592-.733,2.331,2.331,0,0,1,.76-.413,2.792,2.792,0,0,1,.848-.131A2.207,2.207,0,0,1,96.113,3a1.8,1.8,0,0,1,.732.555l6.483,6.914,1.315-7.384h3.533l-1.859,10.41a3.5,3.5,0,0,1-.367,1.071,2.754,2.754,0,0,1-.592.742,2.126,2.126,0,0,1-.752.422A2.714,2.714,0,0,1,103.778,15.86Z"
                                        style="fill: #00a44f" />
                                    <path
                                        d="M88.3,4.162A11.675,11.675,0,0,0,82.17,2.876q-5.282,0-7.872,1.887a6.655,6.655,0,0,0-2.595,5.76,4.442,4.442,0,0,0,2.04,4.04,11.6,11.6,0,0,0,6.134,1.3q5.282,0,7.874-1.9a6.681,6.681,0,0,0,2.593-5.769A4.421,4.421,0,0,0,88.3,4.162ZM81.521,11.4A21.72,21.72,0,0,1,79.332,14L80.8,9.994l-2.4-.028a46.942,46.942,0,0,1,4.127-5.231L81.191,8.588l2.459.088C82.975,9.543,82.219,10.523,81.521,11.4Z"
                                        style="fill: #00a44f" />
                                </g>
                                <g>
                                    <path d="M110.8,2.885h-.335V.3h-.914V0h2.163V.3H110.8Z" style="fill: #00a44f" />
                                    <path
                                        d="M113.419,2.885,112.441.328h-.016c.018.2.028.444.028.722V2.885h-.31V0h.5l.914,2.38h.015L114.5,0h.5V2.885h-.335V1.026q0-.32.027-.694h-.016l-.986,2.553Z"
                                        style="fill: #00a44f" />
                                </g>
                            </g>
                            <g>
                                <path
                                    d="M5.831,29.028a2.039,2.039,0,0,1-.8,1.711,3.454,3.454,0,0,1-2.16.614A5.409,5.409,0,0,1,.6,30.972V30.04a5.972,5.972,0,0,0,1.114.341,5.894,5.894,0,0,0,1.194.125,2.4,2.4,0,0,0,1.455-.367,1.2,1.2,0,0,0,.489-1.02,1.308,1.308,0,0,0-.174-.708A1.6,1.6,0,0,0,4.1,27.9a8.044,8.044,0,0,0-1.236-.529,3.936,3.936,0,0,1-1.657-.984,2.166,2.166,0,0,1-.5-1.483,1.846,1.846,0,0,1,.722-1.529,3,3,0,0,1,1.91-.568,5.628,5.628,0,0,1,2.279.454l-.3.842a5.152,5.152,0,0,0-2-.432A1.935,1.935,0,0,0,2.12,24a1.087,1.087,0,0,0-.432.916,1.4,1.4,0,0,0,.159.707,1.491,1.491,0,0,0,.537.506,6.743,6.743,0,0,0,1.157.509,4.579,4.579,0,0,1,1.8,1A1.967,1.967,0,0,1,5.831,29.028Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M15.329,31.239V27.186a1.681,1.681,0,0,0-.318-1.116,1.232,1.232,0,0,0-.989-.373,1.6,1.6,0,0,0-1.3.506A2.4,2.4,0,0,0,12.3,27.76v3.479h-.944V27.186a1.681,1.681,0,0,0-.318-1.116,1.24,1.24,0,0,0-1-.373,1.54,1.54,0,0,0-1.3.532,2.881,2.881,0,0,0-.412,1.742v3.268H7.389V25.01h.767l.154.852h.045a1.85,1.85,0,0,1,.753-.71A2.3,2.3,0,0,1,10.2,24.9a1.851,1.851,0,0,1,1.91,1.057h.045a1.987,1.987,0,0,1,.807-.773,2.5,2.5,0,0,1,1.205-.284,2.108,2.108,0,0,1,1.583.543,2.429,2.429,0,0,1,.526,1.736v4.064Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M22.048,31.239l-.188-.887h-.045a2.63,2.63,0,0,1-.929.793,2.844,2.844,0,0,1-1.157.208,2.075,2.075,0,0,1-1.452-.478,1.739,1.739,0,0,1-.526-1.358q0-1.887,3.018-1.978l1.057-.034v-.387a1.581,1.581,0,0,0-.315-1.083,1.3,1.3,0,0,0-1.009-.349,4.112,4.112,0,0,0-1.762.477l-.29-.722a4.476,4.476,0,0,1,1.009-.392,4.358,4.358,0,0,1,1.1-.142,2.37,2.37,0,0,1,1.651.5,2.063,2.063,0,0,1,.537,1.586v4.251Zm-2.132-.665a1.918,1.918,0,0,0,1.385-.483,1.789,1.789,0,0,0,.5-1.353v-.562l-.944.039a3.434,3.434,0,0,0-1.623.35,1.054,1.054,0,0,0-.5.963.971.971,0,0,0,.31.779A1.284,1.284,0,0,0,19.916,30.574Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M27.533,24.9a3.727,3.727,0,0,1,.744.068l-.131.875a3.2,3.2,0,0,0-.682-.085,1.662,1.662,0,0,0-1.293.614,2.238,2.238,0,0,0-.537,1.529v3.342h-.943V25.01h.779l.107,1.153h.046a2.741,2.741,0,0,1,.835-.938A1.887,1.887,0,0,1,27.533,24.9Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M31.455,30.574a3.04,3.04,0,0,0,.483-.037,3.106,3.106,0,0,0,.369-.077v.722a1.676,1.676,0,0,1-.452.122,3.3,3.3,0,0,1-.537.049q-1.808,0-1.807-1.905V25.742h-.893v-.454l.893-.392.4-1.33h.545V25.01h1.808v.732H30.454v3.667a1.258,1.258,0,0,0,.268.864A.928.928,0,0,0,31.455,30.574Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M41.35,31.239H36.718v-8.31H41.35v.858H37.684v2.678h3.445v.852H37.684v3.058H41.35Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M47.313,31.239v-4.03a1.627,1.627,0,0,0-.347-1.137,1.412,1.412,0,0,0-1.085-.375,1.79,1.79,0,0,0-1.433.529,2.669,2.669,0,0,0-.455,1.745v3.268H43.05V25.01h.767l.154.852h.045a1.918,1.918,0,0,1,.813-.713,2.637,2.637,0,0,1,1.165-.253,2.367,2.367,0,0,1,1.694.543,2.309,2.309,0,0,1,.569,1.736v4.064Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M52.826,31.353a2.865,2.865,0,0,1-2.18-.842,3.255,3.255,0,0,1-.8-2.335,3.612,3.612,0,0,1,.742-2.394,2.462,2.462,0,0,1,1.992-.886,2.352,2.352,0,0,1,1.853.77,2.955,2.955,0,0,1,.682,2.032v.6H50.826a2.467,2.467,0,0,0,.554,1.665,1.914,1.914,0,0,0,1.48.569,5.02,5.02,0,0,0,1.989-.421v.841a4.932,4.932,0,0,1-.946.31A5.276,5.276,0,0,1,52.826,31.353Zm-.255-5.667a1.54,1.54,0,0,0-1.2.489,2.248,2.248,0,0,0-.526,1.353h3.257a2.078,2.078,0,0,0-.4-1.368A1.4,1.4,0,0,0,52.571,25.686Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M59.567,24.9a3.73,3.73,0,0,1,.745.068l-.131.875a3.2,3.2,0,0,0-.682-.085,1.661,1.661,0,0,0-1.293.614,2.238,2.238,0,0,0-.537,1.529v3.342h-.944V25.01H57.5l.108,1.153h.046a2.741,2.741,0,0,1,.835-.938A1.886,1.886,0,0,1,59.567,24.9Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M66.576,25.01v.6l-1.154.136a2.033,2.033,0,0,1,.409,1.246,1.841,1.841,0,0,1-.625,1.46,2.521,2.521,0,0,1-1.716.546,2.789,2.789,0,0,1-.523-.046.93.93,0,0,0-.6.8.408.408,0,0,0,.21.378,1.543,1.543,0,0,0,.722.122h1.1a2.462,2.462,0,0,1,1.554.427,1.478,1.478,0,0,1,.543,1.238,1.768,1.768,0,0,1-.83,1.578,4.439,4.439,0,0,1-2.421.542,3.307,3.307,0,0,1-1.884-.454A1.468,1.468,0,0,1,60.7,32.3a1.444,1.444,0,0,1,.363-.983,1.856,1.856,0,0,1,1.023-.563.982.982,0,0,1-.4-.335.882.882,0,0,1-.162-.529,1.007,1.007,0,0,1,.181-.6,1.924,1.924,0,0,1,.575-.494,1.674,1.674,0,0,1-.787-.677,1.985,1.985,0,0,1-.3-1.091A2.017,2.017,0,0,1,61.8,25.45,2.5,2.5,0,0,1,63.54,24.9a3.159,3.159,0,0,1,.882.114Zm-4.968,7.275a.845.845,0,0,0,.426.767,2.358,2.358,0,0,0,1.222.262,3.4,3.4,0,0,0,1.759-.356A1.087,1.087,0,0,0,65.587,32a.763.763,0,0,0-.313-.7,2.423,2.423,0,0,0-1.177-.2h-1.13a1.489,1.489,0,0,0-1,.307A1.1,1.1,0,0,0,61.608,32.285Zm.511-5.28a1.268,1.268,0,0,0,.37.988,1.473,1.473,0,0,0,1.029.336A1.2,1.2,0,0,0,64.9,26.988a1.238,1.238,0,0,0-1.4-1.4,1.381,1.381,0,0,0-1.023.358A1.44,1.44,0,0,0,62.119,27.005Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M66.866,25.01h1.011l1.365,3.552a13.736,13.736,0,0,1,.557,1.756h.045q.074-.29.31-.992T71.7,25.01h1.012L70.032,32.1A3.545,3.545,0,0,1,69.1,33.6a1.978,1.978,0,0,1-1.3.44,3.82,3.82,0,0,1-.853-.1v-.756a3.328,3.328,0,0,0,.7.068,1.441,1.441,0,0,0,1.387-1.091l.347-.887Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M80.564,31.239l-2.819-7.366H77.7q.079.874.08,2.08v5.286h-.892v-8.31h1.455l2.631,6.855h.046l2.654-6.855h1.444v8.31h-.966V25.885q0-.921.079-2h-.046l-2.841,7.355Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M89.885,31.353a2.865,2.865,0,0,1-2.18-.842,3.255,3.255,0,0,1-.8-2.335,3.612,3.612,0,0,1,.742-2.394,2.462,2.462,0,0,1,1.992-.886,2.352,2.352,0,0,1,1.853.77,2.95,2.95,0,0,1,.682,2.032v.6H87.885a2.467,2.467,0,0,0,.554,1.665,1.915,1.915,0,0,0,1.48.569,5.029,5.029,0,0,0,1.99-.421v.841a4.94,4.94,0,0,1-.947.31A5.276,5.276,0,0,1,89.885,31.353Zm-.255-5.667a1.54,1.54,0,0,0-1.2.489,2.254,2.254,0,0,0-.526,1.353h3.257a2.072,2.072,0,0,0-.4-1.368A1.4,1.4,0,0,0,89.63,25.686Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M95.8,30.574a3.031,3.031,0,0,0,.483-.037,3.173,3.173,0,0,0,.37-.077v.722a1.7,1.7,0,0,1-.452.122,3.312,3.312,0,0,1-.538.049q-1.808,0-1.807-1.905V25.742h-.892v-.454l.892-.392.4-1.33H94.8V25.01H96.6v.732H94.8v3.667a1.262,1.262,0,0,0,.267.864A.928.928,0,0,0,95.8,30.574Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M100.526,31.353a2.862,2.862,0,0,1-2.18-.842,3.255,3.255,0,0,1-.8-2.335,3.617,3.617,0,0,1,.741-2.394,2.465,2.465,0,0,1,1.993-.886,2.352,2.352,0,0,1,1.853.77,2.955,2.955,0,0,1,.682,2.032v.6H98.525a2.472,2.472,0,0,0,.554,1.665,1.918,1.918,0,0,0,1.481.569,5.02,5.02,0,0,0,1.989-.421v.841a4.954,4.954,0,0,1-.946.31A5.283,5.283,0,0,1,100.526,31.353Zm-.256-5.667a1.539,1.539,0,0,0-1.2.489,2.248,2.248,0,0,0-.526,1.353h3.257a2.078,2.078,0,0,0-.4-1.368A1.4,1.4,0,0,0,100.27,25.686Z"
                                    style="fill: #231f20" />
                                <path
                                    d="M107.267,24.9a3.73,3.73,0,0,1,.745.068l-.131.875a3.2,3.2,0,0,0-.682-.085,1.661,1.661,0,0,0-1.293.614,2.239,2.239,0,0,0-.538,1.529v3.342h-.943V25.01h.779l.108,1.153h.045a2.744,2.744,0,0,1,.836-.938A1.884,1.884,0,0,1,107.267,24.9Z"
                                    style="fill: #231f20" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>

        </div>
        <div style="width: 40%; text-align: end;float: right;">
            <p style="font-size:12px;margin: 0;">Report Period</p>
            <p style="font-size:12px; font-weight:bold ;margin-bottom:0px;margin-top:0px">
                <%= typeof periods !='undefined' ? periods : '' %>
            </p>
        </div>
    </div>
    <div class="line"></div>
    <div>
        <p style="font-size:12px;margin-bottom:0px;margin-top:20px;text-align: center; ">Report Type : Bill cycle
            statement</p>
    </div>
    <div style="margin-top: 20px;">
        <p style="font-size:12px;margin: 1px;">Energy Meter Name : <span style="font-weight:bold"><b>
                    <%= typeof energy_name !='undefined' ? energy_name : 'Energy Meter' %>
                </b></span></p>
        <p style="font-size:12px;margin: 1px;">Energy Source : <span style="font-weight:bold"><b>
                    <%= typeof energy_source !='undefined' ? energy_source : 'Grid' %>
                </b></span>
        </p>
    </div>
    <table class="table clearfix" style="margin-top: 30px;">
        <tr>
            <td style="float:left;margin:7px 7px;vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <path d="M20,6.289a.492.492,0,0,0-.841-.348l-3.4,3.4-5.1-5.1,3.4-3.4a.492.492,0,0,0-.7-.7l-3.4,3.4-.584-.584a1.589,1.589,0,0,0-2.246,0L4.749,5.345a7.007,7.007,0,0,0-.33,9.54L.144,19.16a.492.492,0,0,0,.7.7l4.275-4.274a7,7,0,0,0,9.54-.331l2.381-2.381a1.59,1.59,0,0,0,0-2.246l-.584-.584,3.4-3.4A.491.491,0,0,0,20,6.289Z" style="fill: #19bed4"/>
                      </g>
                    </g>
                  </svg>                  
                Total consumption
            </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px"><b>
                    <%= typeof total !='undefined' ? total : '0' %> kWh
                </b>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="padding-right: 11px;padding-left: 11px;">
                <div class="line1"></div>
            </td>
        </tr>

        <tr>
            <td style="float:left;margin:7px 7px; vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <path d="M20,6.289a.492.492,0,0,0-.841-.348l-3.4,3.4-5.1-5.1,3.4-3.4a.492.492,0,0,0-.7-.7l-3.4,3.4-.584-.584a1.589,1.589,0,0,0-2.246,0L4.749,5.345a7.007,7.007,0,0,0-.33,9.54L.144,19.16a.492.492,0,0,0,.7.7l4.275-4.274a7,7,0,0,0,9.54-.331l2.381-2.381a1.59,1.59,0,0,0,0-2.246l-.584-.584,3.4-3.4A.491.491,0,0,0,20,6.289Z" style="fill: #19bed4"/>
                      </g>
                    </g>
                  </svg>                  
                Operational consumption
            </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px">
                <b>
                    <%= typeof oc !='undefined' ? oc : '0' %> kWh
                </b>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="padding-right: 11px;padding-left: 11px;">
                <div class="line1"></div>
            </td>
        </tr>

        <tr>
            <td style="float:left;margin:7px 7px; vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <path d="M20,6.289a.492.492,0,0,0-.841-.348l-3.4,3.4-5.1-5.1,3.4-3.4a.492.492,0,0,0-.7-.7l-3.4,3.4-.584-.584a1.589,1.589,0,0,0-2.246,0L4.749,5.345a7.007,7.007,0,0,0-.33,9.54L.144,19.16a.492.492,0,0,0,.7.7l4.275-4.274a7,7,0,0,0,9.54-.331l2.381-2.381a1.59,1.59,0,0,0,0-2.246l-.584-.584,3.4-3.4A.491.491,0,0,0,20,6.289Z" style="fill: #19bed4"/>
                      </g>
                    </g>
                </svg>                  
                Standby consumption 
            </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px">
                <b>
                    <%= typeof sc !='undefined' ? sc : '0' %> kWh
                </b>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="padding-right: 11px;padding-left: 11px;">
                <div class="line1"></div>
            </td>
        </tr>

        <tr>
            <td style="float:left;margin:7px 7px; vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.646" height="14.053" viewBox="0 0 18.646 14.053">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <g>
                          <path d="M6.357,0h5.779a.693.693,0,0,1,.693.693v.5a0,0,0,0,1,0,0H5.664a0,0,0,0,1,0,0v-.5A.693.693,0,0,1,6.357,0Z" style="fill: #19bed4"/>
                          <path d="M-.546,6.4H4.807A.693.693,0,0,1,5.5,7.09v.5a0,0,0,0,1,0,0H-1.239a0,0,0,0,1,0,0v-.5A.693.693,0,0,1-.546,6.4Z" transform="translate(-4.862 9.122) rotate(-90)" style="fill: #19bed4"/>
                          <path d="M-.114,6.4H1.3a0,0,0,0,1,0,0v.5a.693.693,0,0,1-.693.693H.579a.693.693,0,0,1-.693-.693V6.4A0,0,0,0,1-.114,6.4Z" transform="translate(7.587 6.398) rotate(90)" style="fill: #19bed4"/>
                          <path d="M15.37.782h1.2a2.079,2.079,0,0,1,2.079,2.079v8.263A2.079,2.079,0,0,1,16.567,13.2h-1.2a1.04,1.04,0,0,1-1.04-1.04V1.821A1.04,1.04,0,0,1,15.37.782Z" style="fill: #19bed4"/>
                          <path d="M13.645,13.376h-.607V12.352h-.551v1.024H5.608V12.352h-.55v1.024h-.6a.339.339,0,0,0,0,.677h9.185a.339.339,0,1,0,0-.677Z" style="fill: #19bed4"/>
                          <path d="M4.458,1.536A1.385,1.385,0,0,0,3.072,2.922v8.14a1.385,1.385,0,0,0,1.386,1.386h9.526V1.536Zm8.06,9.258H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.776H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.776H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.775H4.538a.251.251,0,0,1,0-.5h7.98a.251.251,0,0,1,0,.5Zm0-1.777H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Z" style="fill: #19bed4"/>
                        </g>
                      </g>
                    </g>
                  </svg>                  
                Operational runtime
            </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px">
                <b>
                    <%= typeof omins !='undefined' ? omins : '0 min' %> 
                </b>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="padding-right: 11px;padding-left: 11px;">
                <div class="line1"></div>
            </td>
        </tr>

        <tr>
            <td style="float:left;margin:7px 7px; vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.646" height="14.053" viewBox="0 0 18.646 14.053">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <g>
                          <path d="M6.357,0h5.779a.693.693,0,0,1,.693.693v.5a0,0,0,0,1,0,0H5.664a0,0,0,0,1,0,0v-.5A.693.693,0,0,1,6.357,0Z" style="fill: #19bed4"/>
                          <path d="M-.546,6.4H4.807A.693.693,0,0,1,5.5,7.09v.5a0,0,0,0,1,0,0H-1.239a0,0,0,0,1,0,0v-.5A.693.693,0,0,1-.546,6.4Z" transform="translate(-4.862 9.122) rotate(-90)" style="fill: #19bed4"/>
                          <path d="M-.114,6.4H1.3a0,0,0,0,1,0,0v.5a.693.693,0,0,1-.693.693H.579a.693.693,0,0,1-.693-.693V6.4A0,0,0,0,1-.114,6.4Z" transform="translate(7.587 6.398) rotate(90)" style="fill: #19bed4"/>
                          <path d="M15.37.782h1.2a2.079,2.079,0,0,1,2.079,2.079v8.263A2.079,2.079,0,0,1,16.567,13.2h-1.2a1.04,1.04,0,0,1-1.04-1.04V1.821A1.04,1.04,0,0,1,15.37.782Z" style="fill: #19bed4"/>
                          <path d="M13.645,13.376h-.607V12.352h-.551v1.024H5.608V12.352h-.55v1.024h-.6a.339.339,0,0,0,0,.677h9.185a.339.339,0,1,0,0-.677Z" style="fill: #19bed4"/>
                          <path d="M4.458,1.536A1.385,1.385,0,0,0,3.072,2.922v8.14a1.385,1.385,0,0,0,1.386,1.386h9.526V1.536Zm8.06,9.258H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.776H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.776H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.775H4.538a.251.251,0,0,1,0-.5h7.98a.251.251,0,0,1,0,.5Zm0-1.777H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Z" style="fill: #19bed4"/>
                        </g>
                      </g>
                    </g>
                  </svg>                  
                Standby runtime
            </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px">
                <b>
                    <%= typeof smins !='undefined' ? smins : '0 min' %>
                </b>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="padding-right: 11px;padding-left: 11px;">
                <div class="line1"></div>
            </td>
        </tr>

        <tr>
            <td style="float:left;margin:7px 7px; vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.646" height="14.053" viewBox="0 0 18.646 14.053">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <g>
                          <path d="M6.357,0h5.779a.693.693,0,0,1,.693.693v.5a0,0,0,0,1,0,0H5.664a0,0,0,0,1,0,0v-.5A.693.693,0,0,1,6.357,0Z" style="fill: #19bed4"/>
                          <path d="M-.546,6.4H4.807A.693.693,0,0,1,5.5,7.09v.5a0,0,0,0,1,0,0H-1.239a0,0,0,0,1,0,0v-.5A.693.693,0,0,1-.546,6.4Z" transform="translate(-4.862 9.122) rotate(-90)" style="fill: #19bed4"/>
                          <path d="M-.114,6.4H1.3a0,0,0,0,1,0,0v.5a.693.693,0,0,1-.693.693H.579a.693.693,0,0,1-.693-.693V6.4A0,0,0,0,1-.114,6.4Z" transform="translate(7.587 6.398) rotate(90)" style="fill: #19bed4"/>
                          <path d="M15.37.782h1.2a2.079,2.079,0,0,1,2.079,2.079v8.263A2.079,2.079,0,0,1,16.567,13.2h-1.2a1.04,1.04,0,0,1-1.04-1.04V1.821A1.04,1.04,0,0,1,15.37.782Z" style="fill: #19bed4"/>
                          <path d="M13.645,13.376h-.607V12.352h-.551v1.024H5.608V12.352h-.55v1.024h-.6a.339.339,0,0,0,0,.677h9.185a.339.339,0,1,0,0-.677Z" style="fill: #19bed4"/>
                          <path d="M4.458,1.536A1.385,1.385,0,0,0,3.072,2.922v8.14a1.385,1.385,0,0,0,1.386,1.386h9.526V1.536Zm8.06,9.258H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.776H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.776H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Zm0-1.775H4.538a.251.251,0,0,1,0-.5h7.98a.251.251,0,0,1,0,.5Zm0-1.777H4.538a.25.25,0,0,1,0-.5h7.98a.25.25,0,0,1,0,.5Z" style="fill: #19bed4"/>
                        </g>
                      </g>
                    </g>
                  </svg>
                  
                Equipment downtime
            </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px">
                <b>
                    <%= typeof edt !='undefined' ? edt : '0 min' %>
                </b>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="padding-right: 11px;padding-left: 11px;">
                <div class="line1"></div>
            </td>
        </tr>

        <tr>
            <td style="float:left;margin:7px 7px; vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.646" height="20" viewBox="0 0 18.646 20">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <g>
                          <path d="M13.971,6a.514.514,0,0,1-.553-.867h0A.514.514,0,0,1,13.971,6Z" style="fill: #19bed4"/>
                          <g>
                            <path d="M16.971,20H1.675A1.678,1.678,0,0,1,0,18.325v-8.3A1.678,1.678,0,0,1,1.675,8.346h15.3a1.678,1.678,0,0,1,1.675,1.676v8.3A1.678,1.678,0,0,1,16.971,20ZM1.675,9.512a.51.51,0,0,0-.51.51v8.3a.511.511,0,0,0,.51.51h15.3a.51.51,0,0,0,.509-.51v-8.3a.509.509,0,0,0-.509-.51Z" style="fill: #19bed4"/>
                            <path d="M3.788,14.756a.583.583,0,1,1,0-1.166h0a.583.583,0,1,1,0,1.166Z" style="fill: #19bed4"/>
                            <path d="M14.859,14.756a.583.583,0,0,1,0-1.166h0a.583.583,0,0,1,0,1.166Z" style="fill: #19bed4"/>
                            <path d="M9.323,17.378a3.205,3.205,0,1,1,3.205-3.2A3.209,3.209,0,0,1,9.323,17.378Z" style="fill: #19bed4"/>
                          </g>
                          <path d="M11.974,6.7c-.005-.009-.008-.019-.014-.028a2.83,2.83,0,0,0-3.9-.865,2.788,2.788,0,0,0-.871.893" style="fill: #19bed4"/>
                          <path d="M13.677,1.236l3.459,5.428h1.219L14.544.683A1.48,1.48,0,0,0,12.5.231L2.349,6.7H4.262l8.794-5.6A.45.45,0,0,1,13.677,1.236Z" style="fill: #19bed4"/>
                        </g>
                      </g>
                    </g>
                  </svg>
                  
                Total cost </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px">
                <b>
                    <%= typeof cost !='undefined' ? cost : '0' %>
                </b>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="padding-right: 11px;padding-left: 11px;">
                <div class="line1"></div>
            </td>
        </tr>

        <tr>
            <td style="float:left;margin:7px 7px; vertical-align:middle;font-size:16px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.646" height="20" viewBox="0 0 18.646 20">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <g>
                          <path d="M13.971,6a.514.514,0,0,1-.553-.867h0A.514.514,0,0,1,13.971,6Z" style="fill: #19bed4"/>
                          <g>
                            <path d="M16.971,20H1.675A1.678,1.678,0,0,1,0,18.325v-8.3A1.678,1.678,0,0,1,1.675,8.346h15.3a1.678,1.678,0,0,1,1.675,1.676v8.3A1.678,1.678,0,0,1,16.971,20ZM1.675,9.512a.51.51,0,0,0-.51.51v8.3a.511.511,0,0,0,.51.51h15.3a.51.51,0,0,0,.509-.51v-8.3a.509.509,0,0,0-.509-.51Z" style="fill: #19bed4"/>
                            <path d="M3.788,14.756a.583.583,0,1,1,0-1.166h0a.583.583,0,1,1,0,1.166Z" style="fill: #19bed4"/>
                            <path d="M14.859,14.756a.583.583,0,0,1,0-1.166h0a.583.583,0,0,1,0,1.166Z" style="fill: #19bed4"/>
                            <path d="M9.323,17.378a3.205,3.205,0,1,1,3.205-3.2A3.209,3.209,0,0,1,9.323,17.378Z" style="fill: #19bed4"/>
                          </g>
                          <path d="M11.974,6.7c-.005-.009-.008-.019-.014-.028a2.83,2.83,0,0,0-3.9-.865,2.788,2.788,0,0,0-.871.893" style="fill: #19bed4"/>
                          <path d="M13.677,1.236l3.459,5.428h1.219L14.544.683A1.48,1.48,0,0,0,12.5.231L2.349,6.7H4.262l8.794-5.6A.45.45,0,0,1,13.677,1.236Z" style="fill: #19bed4"/>
                        </g>
                      </g>
                    </g>
                  </svg>
                  Cost per Kwh </td>
            <td style="text-align:right;float:right;margin:7px 7px;font-weight:900;font-size:16px">
                <b>
                    <%= typeof unit !='undefined' ? unit : '0' %>
                </b>
            </td>
        </tr>

    </table>
    <div style="margin:20px">
        <p style="font-size: 12px;font-weight: bolder;text-align: center;"> 
            Daily Usage graph
        </p>
    </div>
    <div class="graph clearfix">
        <div style="width: 100%;" align='center' id="container"></div>
    </div>
    <script>
        let cat = ('<%- cat %>').split(',');
        let energyseries=[];
            let energy = ('<%- dat %>').split(',').map((ele) => { return parseInt(ele) });
            energyseries.push({
                name: 'Energy Consumed',
                type: 'column',
                data: energy,
                color: '#19bed4',
                animation: false
            })
        Highcharts.chart('container', {
            chart: {
                type: 'column',
                height: 450,
                width: 790,
                animation: false
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            legend: {
                align: 'right',
                verticalAlign: 'bottom',
                layout: 'horizontal',
            },
            xAxis: {
                categories: cat,
                crosshair: true
            },
            exporting: { enabled: false },
            credits: { enabled: false },
            yAxis: [{
                lineWidth: 2,
                title: {
                    text: 'kWh',
                    style: {
                        color: "#333"
                    }
                }
            }],
            plotOptions: {
                column: {
                    borderWidth: 0
                }
            },
            series:energyseries
        });
    </script>
</body>

</html>